.hero {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.hero-blur {
  width: 22rem;
  height: 30rem;
  left: 0;
}

.hero-left {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 2rem;
}

.hero-right {
  flex: 1;
  background-color: var(--orange);
  position: relative;
}

.tag-line {
  margin-top: 4rem;
  border-radius: 4rem;
  background-color: #363d42;
  width: fit-content;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
}

.tag-line > span {
  z-index: 2;
}

.tag-line > div {
  position: absolute;
  left: 1.1rem;
  height: 75%;
  width: 5.4rem;
  border-radius: 1rem;
  background-color: var(--orange);
  z-index: 1;
}

.headline {
  font-size: 4.5rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.headline-first {
  margin-bottom: 1.5rem;
}

.progress-numbers {
  display: flex;
  gap: 2rem;
}

.progress-numbers div {
  display: flex;
  flex-direction: column;
}

.progress-numbers div span:first-child {
  font-size: 2rem;
  color: white;
}

.progress-numbers div span:last-child {
  color: var(--gray);
  text-transform: uppercase;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.hero-buttons :first-child {
  color: white;
  background-color: var(--orange);
  width: 10rem;
}

.hero-buttons :last-child {
  color: white;
  background-color: transparent;
  width: 10rem;
  border: 2px solid var(--orange);
}

.hero-right button {
  position: absolute;
  right: 3rem;
  top: 2rem;
}

.heart-rate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 7rem;
  right: 4rem;
  background-color: var(--darkGrey);
  width: fit-content;
  padding: 1rem;
  border-radius: 5px;
}

.heart-rate img {
  width: 2rem;
}

.heart-rate :nth-child(2) {
  color: var(--gray);
}

.heart-rate :nth-child(3) {
  color: white;
  font-size: 1.5rem;
}

.hero-image {
  position: absolute;
  top: 10rem;
  right: 8rem;
  width: 23rem;
}

.hero-background {
  position: absolute;
  top: 4rem;
  right: 20rem;
  z-index: -1;
  width: 15rem;
}

.calories {
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 32rem;
  right: 28rem;
  background-color: var(--caloryCard);
  padding: 1rem;
  border-radius: 5px;
  width: 15rem;
}

.calories img {
  width: 3rem;
}

.calories div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.calories div :nth-child(1) {
  color: var(--gray);
}

.calories div :nth-child(2) {
  color: white;
  font-size: 1.5rem;
}
