.hero {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.hero-left {
  flex: 3;
}

.hero-right {
  flex: 1;
}

.tag-line {
  margin-top: 4rem;
  border-radius: 4rem;
  background-color: #363d42;
  width: fit-content;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
}

.tag-line > span {
  z-index: 2;
}

.tag-line > div {
  position: absolute;
  left: 1.1rem;
  height: 75%;
  width: 5.4rem;
  border-radius: 1rem;
  background-color: var(--orange);
  z-index: 1;
}
