.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

.menu-icon {
  display: none;
}

.logo::first-letter {
  color: var(--orange);
  font-weight: bold;
  text-decoration: underline;
}

.logo:hover {
  color: var(--orange);
}

.header-menus {
  list-style: none;
  display: flex;
  color: white;
  gap: 2rem;
}

.header-menus li:hover {
  cursor: pointer;
  color: var(--orange);
}

.headline-info {
  font-size: 1rem;
  text-transform: none;
  font-weight: 200;
  letter-spacing: 1px;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .header > :nth-child(2) {
    position: fixed;
    right: 2rem;
    z-index: 10;
  }

  .header-menus {
    flex-direction: column;
    background-color: var(--appColor);
    padding: 2rem;
  }

  .menu-icon {
    display: block;
  }

  .menu-icon > img {
    height: 1.5rem;
    width: 1.5rem;
  }
}
